@font-face {
	font-family: "VGA";
	src: url("PxPlus_IBM_VGA8.ttf") format("truetype")
}

body {
	background-color: #222222;
	color: white;
	font-family: "VGA", monospace;
	margin: 0 auto;
	padding: 0 16px;
	max-width: 900px;
}

h1 {
	color: #00AAAA;
}

h2 {
	color: #00AAAA;
}

.image-box {
	border: 2px solid #5555FF;
}

.image {
	display: flex;
	justify-content: center;
	align-items: center;
}
