@font-face {
	font-family: "VGA";
	src: url("PxPlus_IBM_VGA8.ttf") format("truetype")
}

body {
	background-color: rgb(0, 0, 0);
	color: white;
	font-family: "VGA", monospace;

	margin: 0 auto;
	padding: 16px 16px;
	max-width: 900px;
}

@keyframes blink {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}

h1 {
	color: rgb(0, 170, 170);
	animation: blink 1s infinite;
	text-align: center;
}

h2 {
	color: rgb(0, 170, 170);
}

.image-box {
	border: 2px solid rgb(85, 85, 255);
	border-radius: 4px;
}

.image {
	display: flex;
	background-color: rgb(85, 85, 85);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 16px;
	border-radius: 4px;
}

